.login-form-container {
  display: flex;
  background-color: var(--color-primary-light);
  position: relative;
}

.login-form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  background-color: var(--color-primary);
  height: 100%;
  width: 90%;
  z-index: 10;

  /* webkit-transform: skewX(-45deg); */

  /* -ms-transform: skewX(-45deg); */
  transform: skewX(-45deg);
}

.login-form-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30%;
  background-color: var(--color-secondary-light);
  height: 50%;
  width: 100%;
  z-index: 1;

  /* webkit-transform: skewX(30deg); */

  /* -ms-transform: skewX(30deg); */
  transform: skewX(30deg);
}

.login-form {
  width: 20%;
  margin: auto;
  padding: 80px;
  border-radius: 40px;
  border: none;
  background-color: var(--color-white);
  /* stylelint-disable */
  box-shadow: rgba(0, 0, 0, 4%) 0px 3px 5px;
  /* stylelint-enable */
  z-index: 1000;
}

/* stylelint-disable */
.login-form__title {
  /* stylelint-enable */
  font-size: 45px;
}

/* stylelint-disable */
.login-form__error {
  /* stylelint-enable */
  font-size: 20px;
  color: var(--color-accent);
  text-align: center;
}

/* stylelint-disable */
.login-form__icon {
  -webkit-animation: pulsing 2s 1;
  /* stylelint-enable */
  animation: pulsing 2s 1;
}

/* stylelint-disable */
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    /* stylelint-enable */
    transform: scale(0.5, 0.5);
  }

  100% {
    /* stylelint-disable */
    -webkit-transform: scale(1, 1);
    /* stylelint-enable */
    transform: scale(1, 1);
  }
}

@keyframes pulsing {
  0% {
    /* stylelint-disable */
    -webkit-transform: scale(0.5, 0.5);
    /* stylelint-enable */
    transform: scale(0.5, 0.5);
  }

  100% {
    /* stylelint-disable */
    -webkit-transform: scale(1, 1);
    /* stylelint-enable */
    transform: scale(1, 1);
  }
}

/* stylelint-disable */
.login-form__oauth-container {
  /* stylelint-enable */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
