/* stylelint-disable */
.header__title {
  /* stylelint-enable */
  font-size: 30px;
  font-weight: 600;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
}

/* stylelint-disable */
.header__link {
  /* stylelint-enable */
  cursor: pointer;
  margin-right: 5px;
}
