/* stylelint-disable */
.task-item__label {
  /* stylelint-enable */
  background-color: var(--color-accent-light);
  color: var(--color-accent);
  font-size: 18px;
  font-weight: 200;
  border-radius: 20px;
  border: 1px solid var(--color-accent);
  width: auto;
  padding: 5px;
  margin-bottom: 8px;
}

/* stylelint-disable */
.task-item__title {
  /* stylelint-enable */
  font-size: 22px;
}

/* stylelint-disable */
.task-item__text {
  /* stylelint-enable */
  font-size: 18px;
  color: var(--color-primary);
}
