@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700&family=Rubik:wght@400;500;700;900&display=swap");

*:not(svg *) {
  all: unset;
  display: revert;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--color-secondary-light);
  color: var(--color-primary-dark);
  font-size: 22px;
  font-weight: 400;
}

:root {
  --color-white: #fff;
  --color-light: #f0f5f9;
  --color-primary-light: #b2cfde;
  --color-secondary-light: #dce8ef;
  --color-primary: #518099;
  --color-primary-hover: #518099d4;
  --color-primary-dark: #4b6d7e;
  --color-dark: #1d313b;
  --color-accent-light: #ffe0d2;
  --color-accent: #ff844b;
  --container-width: 80%;
}

.container {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}
